
/* MEDIA QUERY SM */
@media all and (max-width: 767px) {
    /* Song */
    .song {
        flex-basis: calc( 100% / 2 );
    }

    /* Footer Player */
    .player-icons i {
        margin: 0;
    }

    .footer-nav {
        margin-left: 40px;
    }

    .footer-song-wrapper,
    .player-wrapper,
    .footer-nav {
    width: calc( 100% / 3 );
}
}

/* MEDIA QUERY LG */
@media all and (max-width: 991px) {
    /* Song */
    .song {
        width: calc( 100% / 4 );
    }
}

/* MEDIA QUERY XS < */
@media all and (max-width: 430px) {

    /* Header btn */
    .btn-upgrade {
        font-size: 8px;
    }

     /* Footer */
    
    .footer-song-title>a {
        font-size: 5px;
    }

    /* Icons */
    .icons {
        margin: 5px;
    }

    .icons>a,
    .player-icons>i,
    .footer-nav-icons>i {
        font-size: 8px;
    }

    .footer-nav-icons>i {
        padding: 0;
    }
    /* Footer Player */
    .player-icons i {
        margin: 0;
    }

    #main-play {
        padding: 0;
    }

    .footer-song-wrapper,
    .player-wrapper,
    .footer-nav {
    width: calc( 100% / 3 );
}
}

/* MEDIA QUERY XS */
@media all and (max-width: 560px) {
    /* Common */
    .navbar {
        width: 50px;
        text-align: center;
        justify-content: space-between;
    }

    .xs-hidden {
        display: none;
    }

    .nav-icon {
        width: 70%;
        padding: 5px 0;
    }

    /* Main Content */
    .main-content {
        width: calc( 100% - 50px);
    }

    /* Btn Upgrade */
    .btn-upgrade {
        font-size: 8px;
    }

    /* Install App */
    .install-app {
        border-bottom: 0;
    }

    /* Songs */
    .song {
        flex-basis: calc( 100% / 2 );
    } 
    
    /* Header */
    .header {
        width: calc( 100% - 50px );
    }

    /* Footer */

    .footer-song-wrapper {
        width: calc( 100% / 3 );
    }

    .footer-song-title {
        width: 10%;
    }

    /* Icons */

    .icons {
        width: 10%;
    }

    /* Footer Player */
    .player-icons i {
        margin: 0;
    }

    .footer-nav {
        margin-left: 0px;
    }
}

/* MEDIA QUERY XS > */
@media all and (min-width: 560px) {
    .lg-hidden {
        display: none;
    }

    .home-element {
        padding: 5px 0 5px 20px;
    }

    .selected {
        border-left: 3px solid #adff2f;
    }
}

