/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
#app-wrapper {
    width: 100%;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Montserrat";
}

/* Text */
.bold {
    font-weight: bold;
}

.hover-white:hover {
    color: white;
}

/* MAIN GENERAL */

main {
    height: calc( 100% - 70px );
}

.main-wrapper {
    width: 100%;
    height: 100%;
}

/* Main Content */
 
.main-content {
    width: calc( 100% - 220px);
    height: 100%;
    overflow-y: auto;
}

/* Navbar */

/* Logo */
.logo {
    padding: 10px 40px;
}

/* Nav Menu */

.navbar {
    width: 220px;
    float: left;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.navbar a {
    color: #686868;
    text-decoration: none;
    font-size: 12px;
}

/* Nav Icons */
.nav-icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

/* Playlist */
.playlist-container {
    min-height: 100px;
    flex-grow: 1;
    padding-left: 40px;
}


.playlist-title {
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}

.playlist>ul {
    list-style-type: none;
    overflow-y: auto;
}


.create-playlist a {
    color: #686868;
}

.playlist-icon>a {
    font-size: 40px;
    vertical-align: middle;
}

.playlist-icon {
    width: 40px;
    display: inline-block;
}


/* Navbar Footer */
.navbar-footer {
    height: 70px;
    /* TEST */
    background-color: blue;
}
   
/* FOOTER GENERAL */

footer {
    height: 70px;
    overflow: hidden;
    background-color: #282828;
}

/* MEDIA QUERY XS */
@media all and (max-width: 600px) {
    .navbar {
        width: 50px;
        text-align: center;
    }

    .xs-hidden {
        display: none;
    }

    .nav-icon {
        width: 70%;
        padding: 5px 0;
    }

    .main-content {
        width: calc( 100% - 50px);
    }

}

/* MEDIA QUERY XS > */
@media all and (min-width: 600px) {
    .logo-small {
        display: none;
    }

    .home-element {
        padding: 5px 0 5px 40px;
    }

    .selected {
        border-left: 3px solid #adff2f;
    }
}
