/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */
#app-wrapper {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

body {
    font-family: "Montserrat";
}

/* Text */
.bold {
    font-weight: bold;
}

/* MAIN GENERAL */

main {
    height: calc( 100% - 70px );
}

.main-wrapper {
    width: 100%;
    height: 100%;
}

/* Main Content */
 
.main-content {
    width: calc( 100% - 220px);
    height: 100%;
    overflow-y: auto;
}

/* Navbar */

/* Logo */
.logo {
    padding: 10px 40px;
}

.navbar {
    width: 220px;
    float: left;
    height: 100%;
    background-color: black;
}

.navbar a {
    color: #686868;
    text-decoration: none;
    font-size: 12px;
}

.home-lib>.home-element {
    padding: 5px 0;
}

/* Nav Icons */
.nav-icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}


   
/* FOOTER GENERAL */

footer {
    height: 70px;
    overflow: hidden;
    background-color: #282828;
}

/* MEDIA QUERY XS */
@media all and (max-width: 560px) {
    .navbar {
        width: 50px;
    }

    .xs-hidden {
        display: none;
    }

    .nav-icon {
        width: 70%;
    }

    .main-content {
        width: calc( 100% - 50px);
    }

}
