/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* COMMON */
#app-wrapper {
    width: 100%;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Montserrat";
}

/* Text */
.bold {
    font-weight: bold;
}

.hover-white:hover {
    color: white;
}

.white {
    color: white !important;
}

.title {
    padding: 20px 0;
}
/* MAIN GENERAL */

main {
    height: calc( 100% - 70px );
}

.main-wrapper {
    width: 100%;
    height: 100%;
}

/* Main Content */
 
.main-content {
    width: calc( 100% - 220px);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
}

.main-content-wrapper {
    width: 95%;
    margin: auto;
}

/* Main Menu */
.main-menu {
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu li {
    padding: 10px;
}

.main-menu a {
    font-size: 12px;
    text-transform: uppercase;
    color: #686868;
}

/* Main Menu Selector */
.bottom-selection {
    height: 2px;
    width: 30px;
    background-color: #adff2f;
    margin: auto;
    border-radius: 5px;
}

/* Music */
.music {
    flex-wrap: wrap;
}

/* Songs */
.song {
    width: calc( 100% / 6 );
    text-align: center;
    padding: 0 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.song img {
    width: 100%;
}

.song a {
    font-size: 14px;
}

/* Navbar */

/* Logo */
.logo {
    padding: 10px 40px;
}

/* Nav Menu */

.navbar {
    width: 220px;
    float: left;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.navbar a {
    color: #686868;
    font-size: 10px;
}

.nav-icon img {
    width: 100%;
}

/* Nav Icons */
.nav-icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.playlist-icon {
    width: 40px;
    display: inline-block;
}

.small-icon {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Playlist */
.playlist-container {
    min-height: 100px;
    flex-grow: 1;
    padding-left: 20px;
    overflow: hidden;
}


.playlist-title {
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
}

.playlist>ul {
    list-style-type: none;
}

.playlist ul>li {
    padding: 3px 0;
}

.create-playlist a {
    color: #686868;
}

.playlist-icon>a {
    font-size: 40px;
    vertical-align: middle;
}

.playlist {
    max-height: 70%;
    overflow-y: auto;
}

/* Navbar Footer */
.navbar-footer {
    height: 70px;
    background-color: black;
    padding: 0px 15px 0px 20px;
}

.install-app,
.user-profile {
    padding: 5px 0;
}

/* Install App */
.install-app {
    border-bottom: 1px solid lightgrey;
}

/* John Doe */
.profile-img {
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
    margin-right: 10px;
}

.profile-img img {
    width: 80%;
}
   
/* FOOTER GENERAL */

footer {
    height: 70px;
    overflow: hidden;
    background-color: #282828;
}

/* MEDIA QUERY XS */
@media all and (max-width: 560px) {
    /* Common */
    .navbar {
        width: 50px;
        text-align: center;
        justify-content: space-between;
    }

    .xs-hidden {
        display: none;
    }

    .nav-icon {
        width: 70%;
        padding: 5px 0;
    }

    /* Main Content */
    .main-content {
        width: calc( 100% - 50px);
    }

    /* Install App */
    .install-app {
        border-bottom: 0;
    }

    /* Songs */
    .song {
        flex-basis: calc( 100% / 2 );
    }
}

/* MEDIA QUERY XS > */
@media all and (min-width: 560px) {
    .lg-hidden {
        display: none;
    }

    .home-element {
        padding: 5px 0 5px 20px;
    }

    .selected {
        border-left: 3px solid #adff2f;
    }
}

/* MEDIA QUERY SM */
@media all and (max-width: 767px) {
    /* Song */
    .song {
        flex-basis: calc( 100% / 2 );
    }
}

/* MEDIA QUERY LG */
@media all and (max-width: 991px) {
    /* Song */
    .song {
        width: calc( 100% / 4 );
    }
}
